---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="contact-us">
	<Header />

	<div class="WordSection1">
		<p class="MsoNormal">
			<b><span class="heading" lang="EN-IN">About Us</span></b>
		</p>

		<p class="MsoNormal">
			<b
				><span lang="EN-IN" style="font-size:12.0pt;line-height:
        107%;"
					>A New-Age Community Connecting
				</span></b
			>
		</p>

		<p class="MsoNormal">
			<b
				><span lang="EN-IN" style="font-size:12.0pt;line-height:
        107%"
					>People And Places Nearby You!</span
				></b
			>
		</p>

		<p class="MsoNormal">
			<span lang="EN-IN" style="font-size:12.0pt;line-height:107%;"
				>Are you looking for a flat &amp; flatmates or places near you to hang
				out, create &amp; build your network and discover events nearby? If yes,
				then you are at the right place.
			</span>
		</p>

		<p class="MsoNormal">
			<span lang="EN-IN" style="font-size:12.0pt;line-height:107%;
        "
				>Nearby Dekho is a new-age concept that caters to your lodging, food,
				and entertainment needs and helps to grow your network. It is a platform
				especially curated for youth according to their preferences and needs.
			</span>
		</p>

		<p class="MsoNormal">
			<span lang="EN-IN" style="font-size:12.0pt;line-height:107%;
         "
				>The revolutionary idea of Nearby Dekho is conceptualized by Founder
				&amp; CEO Shashank Atttrey. He has also founded Above-Edge Tech
				Solutions, an organization specialized in digitalizing financial
				services such as personal loans, easy EMI, and car loans. This entity
				has created a Smart Financial Market Place for instant, real-time and
				automatic financial decisions that is backed by advanced technologies
				such as Machine learning, Smart Algorithms and AI.
			</span>
		</p>

		<p class="MsoNormal">
			<span lang="EN-IN" style="font-size:12.0pt;line-height:107%;
         "
				>So, taking you through the journey of Nearby Dekho…..</span
			>
		</p>

		<p class="MsoNormal">
			<span lang="EN-IN" style="font-size:12.0pt;line-height:107%;
         "
				>We ensure that every user coming to Nearby Dekho is genuine to prevent
				frauds, spasms and scams. Advanced AI tools like face recognition and
				Machine learning algorithm verify every user coming to our platform.
				Also, every user's account will be verified; hence, there is no space
				for duplication and fraud. So, you can always count on us!
			</span>
		</p>

		<p class="MsoNormal">
			<span lang="EN-IN" style="font-size:12.0pt;line-height:107%;
         "
				>We have started four services according to your preferences. Let's have
				a glance.</span
			>
		</p>

		<p class="MsoListParagraph" style="text-indent:-.25in">
			<b
				><span lang="EN-IN" style="font-size:12.0pt;line-height:107%; "
					>1.<span style='font:7.0pt "Times New Roman"'
						>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</span></span
				></b
			><b
				><span lang="EN-IN" style="font-size:16.0pt;line-height:107%; "
					>Flat &amp; Flatmates</span
				></b
			>
		</p>

		<p class="MsoNormal">
			<span lang="EN-IN" style="font-size:12.0pt;line-height:107%;
         "
				>It is the perfect place for people looking for rented flats or flat
				owners seeking to post adverts of their property for rent or searching
				for a flatmate to live with!
			</span>
		</p>

		<p class="MsoListParagraphCxSpFirst" style="text-indent:-.25in">
			<span
				lang="EN-IN"
				style="font-size:12.0pt;line-height:107%;font-family:Symbol"
				>·<span style='font:7.0pt "Times New Roman"'
					>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</span></span
			><span lang="EN-IN" style="font-size:12.0pt;line-height:107%;
         "
				>The images of property on rent and other required details can be posted
				free of cost.
			</span>
		</p>

		<p class="MsoListParagraphCxSpMiddle" style="text-indent:-.25in">
			<span
				lang="EN-IN"
				style="font-size:12.0pt;line-height:107%;font-family:Symbol"
				>·<span style='font:7.0pt "Times New Roman"'
					>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</span></span
			><span lang="EN-IN" style="font-size:12.0pt;line-height:107%;
         "
				>Not only this, a person can also post adverts for flatmates.
			</span>
		</p>

		<p class="MsoListParagraphCxSpMiddle" style="text-indent:-.25in">
			<span
				lang="EN-IN"
				style="font-size:12.0pt;line-height:107%;font-family:Symbol"
				>·<span style='font:7.0pt "Times New Roman"'
					>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</span></span
			><span lang="EN-IN" style="font-size:12.0pt;line-height:107%;
         "
				>You can also post the adverts if looking for a flat for rent in a
				specific location.
			</span>
		</p>

		<p class="MsoListParagraphCxSpMiddle" style="text-indent:-.25in">
			<span
				lang="EN-IN"
				style="font-size:12.0pt;line-height:107%;font-family:Symbol"
				>·<span style='font:7.0pt "Times New Roman"'
					>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</span></span
			><span lang="EN-IN" style="font-size:12.0pt;line-height:107%;
         "
				>Zero Broker and Zero Brokerage.</span
			>
		</p>

		<p class="MsoListParagraphCxSpLast" style="text-indent:-.25in">
			<span
				lang="EN-IN"
				style="font-size:12.0pt;line-height:107%;font-family:Symbol"
				>·<span style='font:7.0pt "Times New Roman"'
					>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</span></span
			><span lang="EN-IN" style="font-size:12.0pt;line-height:107%;
         "
				>Verified owners, flatmates, individuals</span
			>
		</p>

		<p class="MsoNormal">
			<span lang="EN-IN" style="font-size:12.0pt;line-height:107%;
         "
				>So, take a step forward and post your requirement per your
				specifications.</span
			>
		</p>

		<p class="MsoListParagraph" style="text-indent:-.25in">
			<b
				><span lang="EN-IN" style="font-size:12.0pt;line-height:107%; "
					>2.<span style='font:7.0pt "Times New Roman"'
						>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</span></span
				></b
			><b
				><span lang="EN-IN" style="font-size:16.0pt;line-height:107%; "
					>Places Near You</span
				></b
			>
		</p>

		<p class="MsoNormal">
			<span lang="EN-IN" style="font-size:12.0pt;line-height:107%;
         "
				>If you are a social person who wants to hang out with friends and plan
				to go out with your family on weekends or after work, then this
				application provides the assistance you are looking for! The Nearby
				Dekho App is designed to connect you with nearby restaurants, clubs,
				bars and café, providing exclusive discounts.
			</span>
		</p>

		<p class="MsoListParagraphCxSpFirst" style="text-indent:-.25in">
			<span
				lang="EN-IN"
				style="font-size:12.0pt;line-height:107%;font-family:Symbol"
				>·<span style='font:7.0pt "Times New Roman"'
					>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</span></span
			><span lang="EN-IN" style="font-size:12.0pt;line-height:107%;
         "
				>You can discover nightlife places, dine-in and hangout options nearby
				you.
			</span>
		</p>

		<p class="MsoListParagraphCxSpMiddle" style="text-indent:-.25in">
			<span
				lang="EN-IN"
				style="font-size:12.0pt;line-height:107%;font-family:Symbol"
				>·<span style='font:7.0pt "Times New Roman"'
					>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</span></span
			><span lang="EN-IN" style="font-size:12.0pt;line-height:107%;
         "
				>Also, grab attractive deals and offers whenever you visit Nearby Dekho.
			</span>
		</p>

		<p class="MsoListParagraphCxSpLast" style="text-indent:-.25in">
			<span
				lang="EN-IN"
				style="font-size:12.0pt;line-height:107%;font-family:Symbol"
				>·<span style='font:7.0pt "Times New Roman"'
					>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</span></span
			><span lang="EN-IN" style="font-size:12.0pt;line-height:107%;
         "
				>Based on a simple yet smart interface.
			</span>
		</p>

		<p class="MsoNormal">
			<span lang="EN-IN" style="font-size:12.0pt;line-height:107%;
         "
				>You can download this application if you are looking for happening
				places for entertainment, wine and dine-in options.
			</span>
		</p>

		<p class="MsoListParagraph" style="text-indent:-.25in">
			<b
				><span lang="EN-IN" style="font-size:12.0pt;line-height:107%; "
					>3.<span style='font:7.0pt "Times New Roman"'
						>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</span></span
				></b
			><b
				><span lang="EN-IN" style="font-size:16.0pt;line-height:107%; "
					>Bizz Connect</span
				></b
			>
		</p>

		<p class="MsoNormal">
			<span lang="EN-IN" style="font-size:12.0pt;line-height:107%;
         "
				>The professionals can build a network &amp; learn, share and connect.
				Nearby Dekho App is an ecosystem where people can connect outside or
				within the industry.
			</span>
		</p>

		<p class="MsoListParagraphCxSpFirst" style="text-indent:-.25in">
			<span
				lang="EN-IN"
				style="font-size:12.0pt;line-height:107%;font-family:Symbol"
				>·<span style='font:7.0pt "Times New Roman"'
					>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</span></span
			><span lang="EN-IN" style="font-size:12.0pt;line-height:107%;
         "
				>You can create connections as per your requirements.</span
			>
		</p>

		<p class="MsoListParagraphCxSpLast" style="text-indent:-.25in">
			<span
				lang="EN-IN"
				style="font-size:12.0pt;line-height:107%;font-family:Symbol"
				>·<span style='font:7.0pt "Times New Roman"'
					>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</span></span
			><span lang="EN-IN" style="font-size:12.0pt;line-height:107%;
         "
				>Also, learn skills and share your views.
			</span>
		</p>

		<p class="MsoNormal">
			<span lang="EN-IN" style="font-size:12.0pt;line-height:107%;
         "
				>So, download Nearby Dekho App and build your community.
			</span>
		</p>

		<!-- <div class="box">
            
        </div> -->

		<p class="MsoListParagraph" style="text-indent:-.25in">
			<b
				><span lang="EN-IN" style="font-size:12.0pt;line-height:107%; "
					>4.<span style='font:7.0pt "Times New Roman"'
						>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</span></span
				></b
			><b
				><span lang="EN-IN" style="font-size:16.0pt;line-height:107%; "
					>Events Near You</span
				></b
			>
		</p>

		<p class="MsoNormal">
			<span lang="EN-IN" style="font-size:12.0pt;line-height:107%;
         "
				>Another interesting service is Events Near You, wherein you can look
				out for events nearby, such as exhibitions, corporate events, stand-up
				shows, music concerts, music festivals and social gatherings.
			</span>
		</p>

		<p class="MsoListParagraphCxSpFirst" style="text-indent:-.25in">
			<span
				lang="EN-IN"
				style="font-size:12.0pt;line-height:107%;font-family:Symbol"
				>·<span style='font:7.0pt "Times New Roman"'
					>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</span></span
			><span lang="EN-IN" style="font-size:12.0pt;line-height:107%;
         "
				>You can book the ticket for the respective event.
			</span>
		</p>

		<p class="MsoListParagraphCxSpLast" style="text-indent:-.25in">
			<span
				lang="EN-IN"
				style="font-size:12.0pt;line-height:107%;font-family:Symbol"
				>·<span style='font:7.0pt "Times New Roman"'
					>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</span></span
			><span lang="EN-IN" style="font-size:12.0pt;line-height:107%;
         "
				>Also, discover events within your city.
			</span>
		</p>

		<p class="MsoNormal">
			<span lang="EN-IN" style="font-size:12.0pt;line-height:107%;
         "
				>So, if you are a social animal and are passionate for meeting people,
				search for the events as per your interests.
			</span>
		</p>

		<p class="MsoNormal">
			<span lang="EN-IN" style="font-size:12.0pt;line-height:107%;
         "
				>Also, we have just started and will keep adding new services<b>
				</b>according to one needs and demands. Our key purpose is to fulfil
				your necessities to live a happy life. You can download the Nearby Dekho
				Application from the Play Store and App Store. The interface of the
				application is simple, smart and user-friendly.</span
			>
		</p>

		<p class="MsoNormal">
			<span lang="EN-IN" style="font-size:12.0pt;line-height:107%;
         "
				>Our platform has 100% verified accounts and work on Artificial
				Intelligence and Machine Learning. Download Nearby Dekho App.
			</span>
		</p>

		<p class="MsoNormal">
			<b
				><span lang="EN-IN" style="font-size:12.0pt;line-height:
        107%; "
					>Partner With Us</span
				></b
			>
		</p>

		<p class="MsoNormal">
			<b
				><span lang="EN-IN" style="font-size:12.0pt;line-height:
        107%; "
					>Let’s make the world a beautiful place to Connect, Enjoy and Live!</span
				></b
			>
		</p>

		<p class="MsoNormal">
			<span lang="EN-IN" style="font-size:12.0pt;line-height:107%;
         "
				>Grow your Sale with Nearby Dekho Community and Connect with us.
			</span>
		</p>

		<p class="MsoNormal">
			<span lang="EN-IN" style="font-size:12.0pt;line-height:107%;
         "
				>Any property owner, event organizer, restaurant, club, bar &amp; café
				owner may get associated with us. Just fill out your details, and we
				will reach out as soon as possible.
			</span>
		</p>

		<p class="MsoNormal">
			<span lang="EN-IN" style="font-size:12.0pt;line-height:107%;
         "
				>&nbsp;</span
			>
		</p>

		<p class="MsoNormal">
			<span lang="EN-IN" style="font-size:12.0pt;line-height:107%;
         "
				>&nbsp;</span
			>
		</p>
	</div>
</Layout>

<style>
	.WordSection1 {
		width: 80%;
		margin: 50px auto;
	}

	.heading {
		background: linear-gradient(to right, #ff0060, #ff4745);
		-webkit-background-clip: text;
		font-size: 3rem;
		-webkit-text-fill-color: transparent;
	}

	.box {
		padding: 0.5rem;
		border: 2px solid #f7c707;
		border-radius: 32px;
		background: #000;
	}
</style>
