---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Cancellation Policy">
	<Header />
	<div class="container w-[90%] mx-auto">
		<h2 class="heading"><strong>Cancellation Policy</strong></h2>
		<p>
			At <a data-fr-linked="true" href="//www.nearbydekho.com"
				>www.nearbydekho.com</a
			> (ABOVE EDGE TECH SOLUTIONS PRIVATE LIMITED, we understand that plans
			can change, and sometimes you may need to cancel your order. This policy
			outlines our guidelines for cancellations to ensure a smooth and fair
			process for all our customers.
		</p>
		<p><br /></p>
		<p>Order Cancellation:</p>
		<p>
			a. Customers can cancel their order anytime before it is confirmed
			by the restaurant or food establishment.
		</p>
		<p>
			b. Once the order is confirmed by the restaurant, cancellation may
			not be possible or may be subject to certain conditions.
		</p>
		<p><br /></p>
		<p>Cancellation Process:</p>
		<p>
			a. To request a cancellation, please contact our customer support
			team at <a data-fr-linked="true" href="mailto:info@above-edge.com"
				>info@above-edge.com</a
			>.
		</p>
		<p>
			b. Provide the order number and clearly state your request for
			cancellation.
		</p>
		<p>
			c. Our customer support team will review your request and inform you
			of the cancellation eligibility.
		</p>
		<p><br /></p>
		<p>Cancellation Eligibility:</p>
		<p>a. Cancellation eligibility depends on the status of your order:</p>
		<p>
			i. If the order is not yet confirmed by the restaurant, you may
			cancel without any penalties.
		</p>
		<p>ii. If the order is confirmed, cancellation isn&rsquo;t possible.</p>
		<p><br /></p>
		<p>Cancellation Fees:</p>
		<p>
			a. The cancellation fee, if applicable, will be communicated to you
			by our customer support team at the time of cancellation request.
		</p>
		<p><br /></p>
		<p>Refunds for Cancellations:</p>
		<p>
			a. If your order is eligible for cancellation and you have made a
			payment, we will process the refund as per our refund policy.
		</p>
		<p>
			b. The refund amount may be subject to deductions for cancellation
			fees or other applicable charges.
		</p>
		<p><br /></p>
		<p>Modifications to the Policy:</p>
		<p>
			a. We reserve the right to modify or update this cancellation policy
			at any time.
		</p>
		<p>
			b. Any changes to the policy will be posted on our website, and the
			revised policy will apply to all cancellation requests made after
			the effective date.
		</p>
		<p><br /></p>
		<p>
			Please note that this cancellation policy is designed to ensure a
			fair and transparent process for both our customers and our
			partnered restaurants or food establishments. By using our services,
			you agree to comply with the terms and conditions outlined in this
			policy.
		</p>
		<p><br /></p>
		<p>
			If you have any questions or concerns regarding this policy, please
			contact our customer support team for further assistance.
		</p>
	</div>
</Layout>
