---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Company">
  <Header />
  <section class="container w-[90%] mx-auto">
    <!-- <h2>Our Company</h2> -->
    <!-- <OurFounder /> -->
    <h1 class="text-4xl font-semibold leading-normal mb-6">
      Welcome to Nearby Dekho
    </h1>

    <p class="text-sm md:text-lg lg:text-sm pb-4 leading-5">
      At Above Edge Tech Solutions Private Limited, we are a dynamic company at
      the intersection of technology, fintech, and foodtech. We are driven by a
      passion for innovation and a deep understanding of the transformative
      power these industries hold. Our mission is to revolutionize the way
      people interact with technology, financial services, and the food
      industry, bringing convenience, efficiency, and delight to every aspect of
      our customers' lives.
    </p>

    <p class="text-sm md:text-lg lg:text-sm pb-4 leading-5">
      <b class="text-2xl">Technology :</b>
      <br /> At Above Edge, we embrace the latest advancements in technology and
      leverage them to create solutions that simplify and enhance everyday experiences.
      From developing cutting-edge mobile applications to implementing artificial
      intelligence and machine learning algorithms, we are constantly pushing the
      boundaries of what technology can do. Our talented team of engineers, developers,
      and designers work collaboratively to build intuitive, user-friendly, and scalable
      solutions that meet the evolving needs of our customers.
    </p>

    <p class="text-sm md:text-lg pb-4 lg:text-sm leading-5">
      <b class="text-2xl">Fintech:</b><br /> As a fintech company at TruPay, we understand
      the importance of financial services in people's lives. We are committed to
      transforming the way individuals and businesses manage their finances, making
      it simpler, more accessible, and secure. Our fintech solutions encompass Financial
      Products like Loans, Credit Cards, BNPL and financial analytics tools. Through
      seamless integration of technology and finance, we empower our customers to
      take control of their financial futures and unlock new opportunities.
    </p>

    <p class="text-sm md:text-lg pb-4 lg:text-sm leading-5">
      <b class="text-2xl">FoodTech:</b>
      <br />Food is an essential part of our lives, and at Nearby Dekho, we
      believe that technology can revolutionize the way we grow, prepare, and
      consume food. Our SMART solutions encompass a wide range of innovative
      offerings, including SMART POS, SMART QR, Inventory Management, HRMS, Big
      Data Analytics to improve and empower your decision making and increasing
      the sales. We strive to create a seamless and personalized experience for
      food enthusiasts, enabling them to discover, enjoy, and make informed
      choices about the food they consume.
    </p>
    <p class="text-sm md:text-lg pb-4 lg:text-sm leading-5">
      <b class="text-2xl">Our Approach:</b><br /> At Above Edge Group of Companies,
      our approach is centered around the needs and aspirations of our customers.
      We believe in fostering strong partnerships and long-term relationships built
      on trust, transparency, and shared success. We work closely with our clients
      to understand their unique requirements and tailor our solutions accordingly.
      Our agile development methodology allows us to adapt quickly to changing market
      trends and deliver high-quality solutions that exceed expectations.
    </p>

    <p class="text-sm md:text-lg pb-4 lg:text-sm leading-5">
      <b class="text-2xl">Our Commitment:</b><br /> At Above Edge Group of Companies,
      we are committed to excellence, integrity, and continuous improvement. We prioritize
      security, privacy, and compliance, ensuring that our customers' data and financial
      transactions are protected at all times. We are dedicated to staying ahead
      of the curve, constantly researching and exploring emerging technologies and
      industry trends. By doing so, we can deliver innovative solutions that drive
      meaningful impact and provide a competitive edge to our customers.
    </p>

    <p class="text-sm md:text-lg pb-4 lg:text-sm leading-5">
      Join us on this exciting journey as we revolutionize the tech, fintech,
      and foodtech industries. Together, we can create a future where technology
      enhances every aspect of our financial and culinary experiences.
    </p>
    <div
      class="flex lg:w-[60%] mx-auto py-4 shadow-lg rounded-lg items-center justify-center flex-col"
    >
      <h2 class="text-3xl font-semibold mb-4">OUR TEAM</h2>

      <div
        class="flex lg:flex-row flex-col space-y-5 lg:space-y-0 lg:space-x-12"
      >
        <div
          class="flex flex-col lg:w-[300px] justify-center bg-white p-4 shadow-lg rounded-xl text-black space-x-4 items-center"
        >
          <img
            class="w-[100px] h-[100px] rounded-lg object-cover"
            src="https://d204mdjt2q4azq.cloudfront.net/sashank.png"
          />
          <div>
            <h3 class="text-2xl text-center font-semibold">
              Shashank Attrey
              <br /> (CEO)
            </h3>
            <p class="lg:text-xs mt-2 text-xs leading-normal lg:leading-normal">
              Entrepreneur and tech visionary driven by a passion for solving
              complex problems. As the founder of Above Edge Group Of Companies
              I bring a wealth of experience in developing innovative financial
              solutions that simplify the lives of consumers. My
              solution-oriented approach has led to the successful launch of
              multiple products and a reputation for delivering results. Excited
              to continue driving change and making an impact in the fintech
              industry. <br /> Worked in past as a vendor for Digital India, Flagship
              scheme of Government of India for various Technology Based Services
              bridging the Gap between Technology and Rural India.
            </p>
          </div>
        </div>
        <div
          class="flex flex-col lg:w-[300px] justify-center bg-white text-black p-2 shadow-lg rounded-xl space-x-4 items-center"
        >
          <img
            class="w-[100px] h-[100px] rounded-lg object-cover"
            src="https://d204mdjt2q4azq.cloudfront.net/WhatsApp Image 2023-07-08 at 13.22.35.jpeg"
          />
          <div>
            <h3 class="text-2xl text-center font-semibold">
              Arindam Roy <br />(CTO)
            </h3>
            <p class="lg:text-xs text-xs mt-2 leading-normal lg:leading-normal">
              I'm a passionate and driven technologist who believes in the
              transformative power of technology. Still Currently pursuing my
              B.Tech degree , I've embarked on an exciting journey that has
              allowed me to make significant contributions to the world of tech.<br
              />
              As the Chief Technology Officer (CTO) of Above Edge, I have been fortunate
              to lead a team of talented individuals who share my passion for innovation.
              Together, we have achieved remarkable milestones, transforming our
              organization and making a positive impact in the tech industry. I am
              proud to have played a pivotal role in driving the development and
              implementation of cutting-edge technologies that have elevated our
              company to new heights.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
