---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";

import MyProducts from "../components/Myproducts.astro";
import MarqueeText from "../components/MarqueeText.astro";
import "animate.css";
import Feedback from "../components/Feedback.astro";
import PricingPlan from "../components/PricingPlan.astro";
import BusinessList from "../components/BusinessList.astro";
import Stats from "../components/Stats.astro";
import Background from "../components/background.astro";
---

<Layout title="Discover Nearby  - Nearby Dekho">
  <Header />
  <div
    class="flex flex-col items-center justify-around border-b border-slate-600 lg:h-[calc(100vh-80px)] h-[calc(100vh-30px)]"
  >
    <Background />
    <div class="lg:flex">
      <div class="w-full flex flex-col lg:items-start items-center">
        <h1
          class="md:text-8xl lg:leading-relaxed lg:text-7xl text-5xl leading-normal md:leading-relaxed font-bold animate__backInDown animate__animated"
        >
          <span class="heading_gradient">Better Food.</span>
          <br />
          <span class="heading2_gradient">Better Tech.</span>
        </h1>
        <p
          class="md:text-2xl lg:text-lg md:mt-10 text-sm mb-4 font-semibold animate__fadeInLeft animate__animated"
        >
          Empower Your Business With Us
          <div
            class="bg-white md:px-16 px-8 py-3 relative inline-block rounded-lg"
          >
            <p
              class="gradient_text md:text-2xl lg:text-xl text-xl font-semibold relative uppercase"
            >
              smart solution
            </p>
          </div>
        </p>
      </div>
      <video
        class="w-1/2 hidden animate__animated animate__zoomIn lg:block relative z-50 h-[50vh]"
        muted
        preload="auto"
        loop
        autoplay
      >
        <source
          src="https://d204mdjt2q4azq.cloudfront.net/Home.mp4"
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>
    </div>

    <div class="w-full flex flex-col items-center relative">
      <a
        href="/contact-us"
        class="sales_btn inline-block px-20 py-4 bg-black rounded-full animate__bounceIn animate__animated"
        >Contact Sales</a
      >
      <MarqueeText />
    </div>
  </div>
  <MyProducts />
  <BusinessList />
  <Feedback />
  <PricingPlan />
  <Stats />
</Layout>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");

  .gradient_text {
    background: -webkit-linear-gradient(#f90909, #de4604);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .heading_gradient {
    animation: headingColor 5s infinite linear;
    transition: color 0.1s linear;
  }

  .heading2_gradient {
    animation: heading2Color 5s infinite linear;
    transition: color 0.1s linear;
  }

  .sales_btn {
    animation: salesAnim 8s infinite ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  /* Animations */

  @keyframes headingColor {
    0% {
      background: -webkit-linear-gradient(180deg, #ff0000, #ff8100, #ffc421);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent;
    }
    100% {
      color: #fff;
    }
  }

  @keyframes heading2Color {
    0% {
      color: #fff;
    }
    100% {
      background: -webkit-linear-gradient(180deg, #05ffee, #00b4ff, #193ef7);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  @keyframes salesAnim {
    0% {
      border: 3px solid #ffc421;
    }
    100% {
      border: 3px solid #193ef7;
    }
  }
</style>
