---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import OurFounder from "../components/OurFounder.astro";
import SlideShow from "../components/ImageSlideShow";
---

<Layout title="Discover Nearby  - Nearby Dekho">
	<Header />
	<div class="container">
		<h1 class="heading">A New Age Community Hood</h1>
		<p class="description">
			Our app is the ultimate tool for those who love exploring new places and
			meeting new people. With our powerful search engine, you can easily
			discover nearby restaurants, coffee shops, bars, parks, and other
			attractions that match your interests. Plus, our app also helps you
			connect with like-minded individuals in your area, making it easy to find
			new friends
		</p>

		<div class="box-container">
			<div class="button-container">
				<a
					class="download-button"
					href="https://apps.apple.com/us/app/your-app/id1234567890"
				>
					<img src="/app-store.svg" alt="Download from App Store" />
				</a>
				<a
					class="download-button"
					href="https://apps.apple.com/us/app/your-app/id1234567890"
				>
					<img src="/play-store.svg" alt="Download from App Store" />
				</a>
			</div>

			<SlideShow client:load />
		</div>
		<div class="overlay"></div>
	</div>
	<!-- <Deals client:load /> -->
	<OurFounder />
</Layout>

<style>
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: calc(100vh -30px);
		margin-bottom: 40px;
		background: linear-gradient(#13151f 20%, #ff0060 110%, #ff4745 100%);
		/* background: #13151f; */
	}

	.border {
		width: 100%;
		background: #272935;
	}
	.button-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 20px;
	}

	.offers {
		height: 400px;
	}

	.box-container {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		width: 50%;
		margin-top: 50px;
	}

	.heading {
		font-size: 3rem;
		color: #ff0060;
		background: white;
		border-radius: 2rem;
		padding: 0 1.2rem;
	}

	.overlay {
		width: 100%;
		height: 100px;
		background: linear-gradient(transparent, #000000b9);
	}

	.description {
		text-align: center;
		width: 60%;
		/* opacity: 0.7; */
		font-weight: 500;
		line-height: 1.2em;
	}

	.download-button {
		margin: 10px 0;
		transition: background-color 0.3s ease-in-out;
	}

	.download-button > img {
		height: 4rem;
		margin-right: 10px;
		width: 200px;
	}

	.download_text h2 {
		line-height: 0.1ch;
		font-size: 2rem;
	}

	.download_text p {
		line-height: 0.1ch;
		font-size: 0.8rem;
	}

	@media screen and (max-width: 480px) {
		.heading {
			font-size: 1.4rem;
			margin: 20px 0;
		}
		.description {
			opacity: 0.7;
			font-size: 0.9rem;
			width: 90%;
			line-height: 1.6em;
		}
		.box-container {
			display: flex;
			flex-direction: column;
			margin-top: 10px;
		}
	}
</style>
