---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Return &  Refund Policy">
	<Header />
	<div class="container w-[90%] mx-auto">
		<h2 class="heading"><strong>Return & Refund Policy</strong></h2>
		<p>
			At <a data-fr-linked="true" href="//www.nearbydekho.com"
				>www.nearbydekho.com</a
			> (ABOVE EDGE TECH SOLUTIONS PRIVATE LIMITED), we strive to provide you
			with the best online food ordering experience. However, we understand
			that there may be instances where you might need to request a refund
			or return. This policy outlines our guidelines for refunds and returns
			to ensure a fair and transparent process.
		</p>
		<p><br /></p>
		<p>Eligibility for Refunds and Returns:</p>
		<p>
			a. Orders that are eligible for refunds or returns include those
			that are damaged, spoiled, incorrect, or unsatisfactory.
		</p>
		<p>
			b. The request for a refund or return must be made within 10 minutes
			of the order delivered.
		</p>
		<p>
			c. No replacement/ refund/ or any other resolution will be provided
			without restaurant partner&rsquo;s/ store&rsquo;s permission.
		</p>
		<p><br /></p>
		<p>Refund and Return Process:</p>
		<p>
			a. To initiate a refund or return request, please contact our
			customer support team at <a
				data-fr-linked="true"
				href="mailto:info@above-edge.com">info@above-edge.com</a
			>.
		</p>
		<p>
			b. Provide the order number, date of delivery/pickup, and a clear
			description of the issue or reason for the refund or return request.
		</p>
		<p>
			c. Our customer support team will review your request and may
			require additional information or evidence such as photographs to
			verify the issue.
		</p>
		<p>
			d. If the refund or return request is approved, we will provide
			instructions on how to return the item(s) or process the refund.
		</p>
		<p><br /></p>
		<p>Refund Options:</p>
		<p>
			a. Depending on the circumstances, we may offer the following refund
			options:
		</p>
		<p>
			i. Full refund: The entire amount paid for the order will be
			refunded.
		</p>
		<p>
			ii. Partial refund: A portion of the amount paid for the order will
			be refunded.
		</p>
		<p>
			b. Refunds will be processed using the same payment method used for
			the original order unless otherwise specified.
		</p>
		<p><br /></p>
		<p>Return of Items:</p>
		<p>
			a. In certain cases, we may require you to return the item(s) in
			question. We will provide instructions on how and where to return
			the items, and you will be responsible for the return shipping
			costs, unless the return is due to an error on our part.
		</p>
		<p>
			b. Items must be returned in their original packaging (if
			applicable) and in the same condition as they were delivered.
		</p>
		<p><br /></p>
		<p>Non-Refundable Items:</p>
		<p>
			a. Some items may be non-refundable, such as perishable food items
			or items that have been consumed or partially consumed.
		</p>
		<p>
			b. If a non-refundable item is included in an order that is eligible
			for a refund or return, the refund or return will only apply to the
			eligible item(s).
		</p>
		<p><br /></p>
		<p>Processing Time:</p>
		<p>
			a. We will make every effort to process your refund or return
			request in a timely manner.
		</p>
		<p>
			b. The exact processing time may vary depending on the nature of the
			request and any necessary investigations.
		</p>
		<p>c. The total time we take to refund is maximum 2 working days.</p>
		<p><br /></p>
		<p>Modifications to the Policy:</p>
		<p>
			a. We reserve the right to modify or update this refund and return
			policy at any time.
		</p>
		<p>
			b. Any changes to the policy will be posted on our website, and the
			revised policy will apply to all refund and return requests made
			after the effective date.
		</p>
		<p><br /></p>
		<p>
			Please note that this refund and return policy is designed to
			protect the interests of both our customers and our business. By
			using our services, you agree to comply with the terms and
			conditions outlined in this policy.
		</p>
		<p><br /></p>
		<p>
			If you have any questions or concerns regarding this policy, please
			contact our customer support team for further assistance.
		</p>
	</div>
</Layout>
