---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="smart-pos">
  <Header />
  <div class="container w-[90%] lg:w-[95%] mx-auto">
    <div class="lg:flex items-center lg:space-x-4">
      <div>
        <h1 class="text-4xl font-semibold mb-4">SMART POS</h1>

        <p class="text-sm md:text-base lg:text-sm leading-5 mb-4">
          Introducing the Food Ordering Smart POS, a revolutionary solution that
          streamlines the process of ordering food in restaurants and enhances
          the overall dining experience for both customers and restaurant staff.
        </p>
        <p class="text-sm md:text-base lg:text-sm leading-5 mb-4">
          The Food Ordering Smart POS combines advanced technology and intuitive
          design to create a seamless and efficient system that caters to the
          evolving needs of the modern restaurant industry. This smart
          point-of-sale (POS) system is equipped with a range of features that
          simplify and automate various aspects of the ordering process.
        </p>
      </div>

      <video class="lg:w-[50%]" loop muted autoplay>
        <source
          src="https://d204mdjt2q4azq.cloudfront.net/video2.MP4"
          type="video/MP4"
        />
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="text-2xl font-semibold text-center my-6">
      Features & Benefits
    </div>

    <div
      class="space-y-6 lg:space-y-0 grid grid-cols-1 md:grid-cols-2 gap-5 lg:grid-cols-3"
    >
      <div
        class="bg-white text-black justify-center flex flex-col items-center p-5 rounded-xl shadow-lg"
      >
        <img src="https://d204mdjt2q4azq.cloudfront.net/Dashboard new.png" />
        <h3 class="text-xl font-semibold">DashBoard</h3>

        <p class="text-xs md:text-sm lg:text-xs text-center mt-2 font-medium">
          Our platform serves as a central hub for restaurant owners and
          managers to access and analyze key data related to their business
          operations. It provides a comprehensive overview of various metrics
          and insights, enabling informed decision-making and efficient
          management.
        </p>
      </div>

      <div
        class="bg-white text-black justify-center flex flex-col items-center p-5 rounded-xl shadow-lg"
      >
        <img
          src="https://d204mdjt2q4azq.cloudfront.net/Table Management .png"
        />
        <h3 class="text-xl font-semibold">Table ManageMent</h3>

        <p class="text-xs md:text-sm lg:text-xs text-center mt-2 font-medium">
          The dashboard displays an overview of the restaurant's table layout,
          indicating the status of each table, whether it's available, reserved,
          or occupied, reducing customer wait times and enhancing the overall
          dining experience.
        </p>
      </div>

      <div
        class="bg-white text-black justify-center flex flex-col items-center p-5 rounded-xl shadow-lg"
      >
        <img
          src="https://d204mdjt2q4azq.cloudfront.net/Order Management .png"
        />
        <h3 class="text-xl text-center font-semibold">
          Order Management and Fulfillment
        </h3>

        <p class="text-xs md:text-sm lg:text-xs text-center mt-2 font-medium">
          The dashboard streamlines order management processes by presenting a
          comprehensive view of incoming orders, order statuses, and order
          fulfillment metrics. Users can monitor order volumes, track order
          progress, and identify any bottlenecks or delays in the order
          fulfillment process.
        </p>
      </div>

      <div
        class="bg-white text-black justify-center flex flex-col items-center p-5 rounded-xl shadow-lg"
      >
        <img src="https://d204mdjt2q4azq.cloudfront.net/Workforce.png" />
        <h3 class="text-xl font-semibold">Workforce Managment</h3>

        <p
          class="text-xs md:text-sm lg:text-xs leading-relaxed text-center mt-2 font-normal"
        >
          The dashboard may include features to track staff performance,
          including metrics such as order processing time, employee
          productivity, and customer ratings. This information helps identify
          areas for improvement, reward top-performing staff, and optimize staff
          scheduling based on demand patterns. Effective staff management
          ensures smoother operations, reduced wait times, and improved customer
          service
        </p>
      </div>

      <div
        class="bg-white text-black justify-center flex flex-col items-center p-5 rounded-xl shadow-lg"
      >
        <img src="https://d204mdjt2q4azq.cloudfront.net/Menu Custom.png" />
        <h3 class="text-xl font-semibold">Menu Customization</h3>

        <p class="text-xs md:text-sm lg:text-xs text-center mt-2 font-medium">
          The menu customization feature allows restaurant owners to easily
          create and manage their menus within the platform. It provides a
          user-friendly interface where items can be added, categorized, and
          organized based on various factors such as cuisine type, mealtime, or
          dietary restrictions. This feature simplifies the menu creation
          process, ensuring accurate representation of the restaurant's
          offerings.
        </p>
      </div>

      <div
        class="bg-white text-black justify-center flex flex-col items-center p-5 rounded-xl shadow-lg"
      >
        <img src="https://d204mdjt2q4azq.cloudfront.net/Crm.png" />
        <h3 class="text-xl font-semibold">Customer Management</h3>

        <p class="text-xs md:text-sm lg:text-xs text-center mt-2 font-medium">
          It helps Partner's in maintaining a centralized customer database and
          tracking order history, restaurants gain insights into customer
          preferences and behaviors. empower restaurants to effectively engage
          with customers, build relationships, and execute targeted marketing
          campaigns.
        </p>
      </div>

      <div
        class="bg-white text-black justify-center flex flex-col items-center p-5 rounded-xl shadow-lg"
      >
        <img src="https://d204mdjt2q4azq.cloudfront.net/Inventory.png" />
        <h3 class="text-xl font-semibold">Inventory Management</h3>

        <p class="text-xs md:text-sm lg:text-xs text-center mt-2 font-medium">
          The inventory management feature of a food ordering and sales platform
          enables restaurants to efficiently manage their inventory and
          supplies. It provides tools for tracking stock levels, monitoring
          ingredient usage, and automating purchase orders. With real-time
          updates and integration with the point-of-sale system, it helps
          prevent stockouts and reduces waste.
        </p>
      </div>

      <div
        class="bg-white text-black justify-center flex flex-col items-center p-5 rounded-xl shadow-lg"
      >
        <img src="https://d204mdjt2q4azq.cloudfront.net/Analytics.png" />
        <h3 class="text-xl font-semibold">Reports and Analytics</h3>

        <p class="text-xs md:text-sm lg:text-xs text-center mt-2 font-medium">
          By leveraging data-driven analytics, restaurants can enhance
          operational efficiency, drive customer satisfaction, and maximize
          profitability within the food ordering and sales platform. The reports
          and analytics feature of our platform provides valuable insights into
          sales performance and customer behavior. It generates comprehensive
          reports on key metrics such as revenue, order volume, and customer
          preferences.
        </p>
      </div>

      <div
        class="bg-white text-black justify-center flex flex-col items-center p-5 rounded-xl shadow-lg"
      >
        <img src="https://d204mdjt2q4azq.cloudfront.net/Ledger .png" />
        <h3 class="text-xl font-semibold">Smart Ledger</h3>

        <p class="text-xs md:text-sm lg:text-xs text-center mt-2 font-medium">
          The Smart Ledger feature helps restaurant owners monitor financial
          health, reconcile accounts, and generate financial reports. It
          simplifies book-keeping processes, streamlines auditing, and provides
          a clear picture of the restaurant's financial performance within our
          platform.
        </p>
      </div>

      <div
        class="bg-white text-black justify-center flex flex-col items-center p-5 rounded-xl shadow-lg"
      >
        <img src="https://d204mdjt2q4azq.cloudfront.net/Loans.png" />
        <h3 class="text-xl font-semibold">Loans</h3>

        <p class="text-xs md:text-sm lg:text-xs text-center mt-2 font-medium">
          By partnering with us, we facilitate loan applications and approvals
          instantly within the system. It provides a streamlined process for
          restaurants to apply for loans, submit required documentation, and
          receive funding.
        </p>
      </div>

      <div
        class="bg-white text-black justify-center flex flex-col items-center p-5 rounded-xl shadow-lg"
      >
        <img src="https://d204mdjt2q4azq.cloudfront.net/Campaign.png" />
        <h3 class="text-xl font-semibold text-center">
          Targeted Campaign Management
        </h3>

        <p class="text-xs md:text-sm lg:text-xs text-center mt-2 font-medium">
          The campaign management feature allows restaurant owners and managers
          to plan, execute, and track targeted marketing campaigns. It includes
          features for segmenting the customer base based on various criteria
          such as demographics, order history, or preferences. It enables the
          creation of personalized offers, discounts, and promotions tailored to
          specific customer segments, enhancing campaign effectiveness and
          customer engagement.
        </p>
      </div>
    </div>
  </div>
</Layout>
