---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="smart-digital-qr">
  <Header />

  <div class="container w-[90%] mx-auto">
    <div class="lg:space-x-6 lg:flex">
      <div class="lg:w-[80%]">
        <h1 class="text-5xl font-bold">SMART Digital QR</h1>
        <h2 class="mt-2 text-sm md:text-base font-medium">
          SMART QR powered by Nearby Dekho to digitalize your Restaurant, Café,
          Club and Bar integrated with WhatsApp for customized notifications
          about order placement, e-bill, payment confirmation, offers and
          discounts.
        </h2>
        <div
          class="bg-[#272935] text-xs md:text-sm lg:text-sm md:leading-6 leading-5 rounded-lg my-4 p-4"
        >
          <p>
            Introducing our innovative Smart QR Food Ordering Platform powered
            by Nearby Dekho, a cutting-edge solution designed to revolutionize
            the way people order and enjoy their meals. This advanced platform
            combines the convenience of QR code technology with the power of
            smart devices to create a seamless and efficient food ordering
            experience.
          </p>
          <p class="hidden lg:block mt-2">
            Our Smart QR Food Ordering Platform simplifies the process of
            ordering food by eliminating the need for physical menus, paper
            order slips, and lengthy wait times. With a simple scan of a QR code
            placed on tables or displayed at various points in a restaurant or
            food establishment, customers gain instant access to a digital menu
            that showcases a wide range of delectable dishes and beverages.
          </p>
        </div>
      </div>

      <video class="md:h-[64vh] md:mx-auto" loop muted autoplay>
        <source
          src="https://d204mdjt2q4azq.cloudfront.net/Frame.MP4"
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>
    </div>

    <div
      class="bg-white px-10 py-2 text-center rounded-lg mt-16 mb-10 text-black font-semibold"
    >
      Features & Benefits
    </div>
    <div
      class="space-y-6 md:space-y-0 grid grid-cols-1 md:grid-cols-2 gap-5 lg:grid-cols-3"
    >
      <div
        class="flex flex-col items-center justify-center bg-white text-black rounded-xl px-10 py-4"
      >
        <img src="https://d204mdjt2q4azq.cloudfront.net/Scan QR.png" />
        <h3 class="text-2xl mt-4 font-semibold">Simple Scan of QR</h3>

        <p class="text-xs leading-5 font-medium text-center">
          This advanced platform combines the convenience of QR code technology
          with the power of smart devices to create a seamless and efficient
          food ordering experience.
        </p>
      </div>

      <div
        class="flex flex-col items-center justify-center bg-white text-black rounded-xl px-10 py-4"
      >
        <img src="https://d204mdjt2q4azq.cloudfront.net/paperless.png" />
        <h3 class="text-2xl mt-4 font-semibold">Paperless Menu</h3>
        <p class="text-xs leading-5 font-medium text-center">
          With a simple scan of a QR code placed on tables or displayed at
          various points in a restaurant or food establishment, customers gain
          instant access to a digital menu that showcases a wide range of
          delectable dishes and beverages.
        </p>
      </div>

      <div
        class="flex flex-col items-center justify-center bg-white text-black rounded-xl px-10 py-4"
      >
        <img src="https://d204mdjt2q4azq.cloudfront.net/notime.png" />
        <h3 class="text-2xl mt-4 font-semibold">No Wait Time</h3>
        <p class="text-xs leading-5 font-medium text-center">
          Customer doesn't need to wait for the waiter/steward to place the
          order, just with a simple Scan of QR, order can be placed.
        </p>
      </div>

      <div
        class="flex flex-col items-center justify-center bg-white text-black rounded-xl px-10 py-4"
      >
        <img src="https://d204mdjt2q4azq.cloudfront.net/wp.png" />
        <h3 class="text-2xl text-center mt-4 font-semibold">
          WhatsApp Notifications
        </h3>
        <p class="text-xs leading-5 font-medium text-center">
          Customer receives the notification on WhatsApp from successful placing
          of the order, preparing time of the order, e-bill, payment checkout to
          feedback and experience about the food and ambience.
        </p>
      </div>

      <div
        class="flex flex-col items-center justify-center bg-white text-black rounded-xl px-10 py-4"
      >
        <img src="https://d204mdjt2q4azq.cloudfront.net/bill.png" />
        <h3 class="text-2xl mt-4 font-semibold">E-Bill on WhatsApp</h3>
        <p class="text-xs leading-5 font-medium text-center">
          Receive E-bill on the WhatsApp without hassle, eliminating the need of
          physical bill and Save 100% Paper.
        </p>
      </div>

      <div
        class="flex flex-col items-center justify-center bg-white text-black rounded-xl px-10 py-4"
      >
        <img
          src="https://d204mdjt2q4azq.cloudfront.net/payments.png"
          class="img"
        />
        <h3 class="text-2xl text-center mt-4 font-semibold">
          Hassle-Free Payment Options
        </h3>
        <p class="text-xs leading-5 font-medium text-center">
          Accept order via UPI/Credit Card/Debit Card/Net Banking/Wallet
        </p>
      </div>

      <div
        class="flex flex-col items-center justify-center bg-white text-black rounded-xl px-10 py-4"
      >
        <img src="/Analytics.png" />
        <h3 class="text-2xl mt-4 font-semibold">Real Time Insights</h3>
        <p class="text-xs leading-5 font-medium text-center">
          We provide real-time insights into customer preferences, allowing for
          data-driven decision-making, menu optimization.
        </p>
      </div>

      <div
        class="flex flex-col items-center justify-center bg-white text-black rounded-xl px-10 py-4"
      >
        <img
          src="https://d204mdjt2q4azq.cloudfront.net/Menu Optimisation .png"
        />
        <h3 class="text-2xl mt-4 font-semibold">Menu Optimization</h3>
        <p class="text-xs leading-5 font-medium text-center">
          We offer 24x7 flexibility in adapting to changing menus, promotions,
          and business requirements, making it a valuable asset for any food
          establishment.
        </p>
      </div>

      <div
        class="flex flex-col items-center justify-center bg-white text-black rounded-xl px-10 py-4"
      >
        <img src="https://d204mdjt2q4azq.cloudfront.net/market.png" />
        <h3 class="text-2xl text-center mt-4 font-semibold">
          Targeted Marketing Campaigns
        </h3>
        <p class="text-xs leading-5 font-medium text-center">
          Targeted Marketing Campaigns through WhatsApp improves your Sales by
          targeting interested customers easily.
        </p>
      </div>

      <div
        class="flex flex-col items-center justify-center bg-white text-black rounded-xl px-10 py-4"
      >
        <img src="https://d204mdjt2q4azq.cloudfront.net/customer.png" />
        <h3 class="text-2xl mt-4 font-semibold">Customer Feedback</h3>
        <p class="text-xs leading-5 font-medium text-center">
          Get access to customer feedback about Food, Service and Ambience to
          improve your Customer Experience and Increase your Sales.
        </p>
      </div>
    </div>
  </div>
</Layout>
