<header
  class="container lg:w-[90%] mx-auto relative z-10 flex items-center justify-between px-4 md:px-10 py-4"
>
  <a href="/">
    <div class="flex items-center space-x-2">
      <img
        class="md:w-20 h-10 w-10 md:h-20"
        src="https://d204mdjt2q4azq.cloudfront.net/logo.png"
      />
      <h2 class="md:text-2xl text-xl font-semibold">Nearby Dekho</h2>
    </div>
  </a>
  <nav class="list-none items-center space-x-5 hidden lg:flex">
    <li><a href="/">Home</a></li>
    <li><a href="/company">Company</a></li>
    <li><a href="/contact-us">Contact us</a></li>
    <li><a href="/smart-pos">Smart POS</a></li>
    <li><a href="/smart-digital-qr">Smart Digital QR</a></li>
  </nav>

  <nav id="mobile_menu" class="lg:hidden relative h-full">
    <img
      src="https://d204mdjt2q4azq.cloudfront.net/Menu Icon.png"
      class="w-10 h-10"
    />
    <div
      style="z-index: 1000;"
      class="bg-[#070110] hidden p-6 fixed w-[80%] h-screen top-0 left-0 list-none"
    >
      <div class="flex items-center justify-between">
        <img
          src="https://d204mdjt2q4azq.cloudfront.net/logo.png"
          class="w-10 h-10"
        />
        <img
          id="close"
          src="https://d204mdjt2q4azq.cloudfront.net/close.png"
          class="w-10 h-10"
        />
      </div>
      <div
        class="flex space-y-5 flex-col h-[80vh] items-center divide-slate-600 justify-center"
      >
        <li class="text-center">
          <a
            class="flex w-[200px] justify-between items-center space-x-4"
            href="/"
          >
            <img
              src="https://d204mdjt2q4azq.cloudfront.net/Home.png"
              class="w-10 h-10"
            />
            <span class="flex-1 flex flex-start">Home</span></a
          >
        </li>
        <li class="pt-1 text-center">
          <a
            class="flex w-[200px] justify-between items-center space-x-4"
            href="/company"
          >
            <img
              src="https://d204mdjt2q4azq.cloudfront.net/company.png"
              class="w-10 h-10"
            />
            <span class="flex-1 flex flex-start">Company</span></a
          >
        </li>
        <li class="pt-1 text-center">
          <a
            class="flex w-[200px] justify-between items-center space-x-4"
            href="/contact-us"
          >
            <img
              src="https://d204mdjt2q4azq.cloudfront.net/contact.png"
              class="w-10 h-10"
            />
            <span class="flex-1 flex flex-start"> Contact us</span>
          </a>
        </li>
        <li class="pt-1 text-center">
          <a
            class="flex w-[200px] justify-between items-center space-x-4"
            href="/smart-pos"
          >
            <img
              src="https://d204mdjt2q4azq.cloudfront.net/pos.png"
              class="w-10 h-10"
            />
            <span class="flex-1 flex flex-start">Smart POS</span></a
          >
        </li>
        <li class="pt-1 text-center">
          <a
            class="flex w-[200px] justify-between items-center space-x-4"
            href="/smart-digital-qr"
          >
            <img
              src="https://d204mdjt2q4azq.cloudfront.net/Scan QR.png"
              class="w-10 h-10"
            />
            <span class="flex-1 flex flex-start"> Smart Digital QR</span></a
          >
        </li>
      </div>
    </div>
  </nav>
</header>

<script>
  const mobile_menu = document.getElementById("mobile_menu");
  const mobile_menu_btn = mobile_menu.querySelector("img");
  const mobile_menu_ul = mobile_menu.querySelector("div");

  const close = mobile_menu_ul.querySelector("#close");

  close.addEventListener("click", () => {
    mobile_menu_ul.classList.toggle("hidden");
  });

  mobile_menu_btn.addEventListener("click", () => {
    mobile_menu_ul.classList.toggle("hidden");
  });
</script>
