---
import "animate.css";
---

<section class="bg-[#13151f]">
  <h2 class="text-center md:text-3xl text-2xl font-bold py-8">Our Products</h2>
  <div
    class="grid w-[90%] lg:w-[80%] mx-auto col-span-1 gap-10 md:grid-cols-2 lg:grid-cols-3 md:w-[95%] py-5"
  >
    <div
      class="clip hover:scale-105 transition-all animate__animated flex flex-col justify-between bg-[#181C2E] text-white"
    >
      <div class="p-5">
        <h2 class="md:text-3xl lg:text-3xl text-2xl font-bold">Smart POS</h2>
        <p
          class="mt-2 text-xs lg:text-xs lg:leading-5 leading-5 md:text-sm w-[85%]"
        >
          Turn your store into smart store with our leading Smart POS and watch
          us helping you boost your sales
        </p>
        <a
          href="/smart-pos"
          class="bg-red-500 inline-block text-white px-6 py-2 mt-4 rounded-lg"
          >Learn More</a
        >
      </div>
      <video class="w-full h-1/2" loop muted autoplay>
        <source
          src="https://d204mdjt2q4azq.cloudfront.net/pos1.mp4"
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>
    </div>

    <div
      class="clip animate__animated flex flex-col justify-between bg-[#181C2E] text-white"
    >
      <div class="p-5">
        <h2 class="md:text-3xl lg:text-2xl text-2xl font-bold">
          Smart Digital QR
        </h2>
        <p
          class="mt-2 text-xs lg:text-xs lg:leading-5 leading-5 md:text-sm w-[85%]"
        >
          Go Seamless, Contactless and turn your traditional dining experience
          into new age fully automated experience
        </p>
        <a
          href="/smart-digital-qr"
          class="bg-red-500 inline-block text-white px-6 py-2 mt-4 rounded-lg"
          >Learn More</a
        >
      </div>
      <video class="w-full h-1/2" loop muted autoplay>
        <source
          src="https://d204mdjt2q4azq.cloudfront.net/17.mp4"
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>
    </div>

    <div
      class="clip animate__animated flex flex-col justify-between bg-[#181C2E] text-white"
    >
      <div class="p-5">
        <h2 class="md:text-3xl lg:text-2xl text-2xl w-[85%] font-bold">
          Whatsapp Integration
        </h2>
        <p class="mt-2 text-xs leading-5 md:text-sm w-[85%]">
          Our full stack Food-Tech suite let's you notify your customer on every
          step of there craving journey through WhatsApp
        </p>
        <a
          href="/smart-pos"
          class="bg-red-500 inline-block text-white px-6 py-2 mt-4 rounded-lg"
          >Learn More</a
        >
      </div>
      <video class="w-full aspect-video h-1/2" loop muted autoplay>
        <source
          src="https://d204mdjt2q4azq.cloudfront.net/16.mp4"
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>
    </div>

    <div
      class="clip animate__animated flex flex-col justify-between bg-[#181C2E] text-white"
    >
      <div class="p-5">
        <h2 class="md:text-3xl lg:text-2xl text-2xl font-bold">HRMS</h2>
        <p class="mt-2 text-xs leading-5 md:text-sm w-[85%]">
          Manage your workforce and anaylyse their performance with our Smart
          HRMS Tool
        </p>
        <a
          href="/smart-pos"
          class="bg-red-500 inline-block text-white px-6 py-2 mt-4 rounded-lg"
          >Learn More</a
        >
      </div>
      <video class="w-full aspect-video h-1/2" loop muted autoplay>
        <source
          src="https://d204mdjt2q4azq.cloudfront.net/19.mp4"
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>
    </div>

    <div
      class="clip animate__animated flex flex-col justify-between bg-[#181C2E] text-white"
    >
      <div class="p-5">
        <h2 class="md:text-3xl lg:text-2xl text-2xl font-bold">
          Payment Solution
        </h2>
        <p class="mt-2 text-xs leading-5 md:text-sm w-[85%]">
          Accept Payment Contactless via UPI/Credit Card/Debit Card 24*7
        </p>
        <a
          href="/smart-pos"
          class="bg-red-500 inline-block text-white px-6 py-2 mt-4 rounded-lg"
          >Learn More</a
        >
      </div>
      <video class="w-full h-1/2" loop muted autoplay>
        <source
          src="https://d204mdjt2q4azq.cloudfront.net/18.mp4"
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>
    </div>

    <div
      class="clip animate__animated flex flex-col justify-between bg-[#181C2E] text-white"
    >
      <div class="p-5">
        <h2 class="md:text-3xl lg:text-2xl text-2xl font-bold">Marketing</h2>
        <p class="mt-2 text-xs leading-5 md:text-sm w-[85%]">
          Create your brand awareness and reach your customers with our
          specially curated marketing tools.
        </p>
        <a
          href="/smart-pos"
          class="bg-red-500 inline-block text-white px-6 py-2 mt-4 rounded-lg"
          >Learn More</a
        >
      </div>
      <video class="w-full aspect-video h-1/2" loop muted autoplay>
        <source
          src="https://d204mdjt2q4azq.cloudfront.net/20.mp4"
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
</section>

<script>
  const cards = document.querySelectorAll(".clip");

  const options = {
    root: null,
    rootMargin: "0px",
    threshold: 0.2,
  };

  const handleIntersect = (entries, observer) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("animate__fadeInLeft");
        observer.unobserve(entry.target);
      }
    });
  };

  const observer = new IntersectionObserver(handleIntersect, options);

  // Observe each card element
  cards.forEach((card) => {
    observer.observe(card);
  });
</script>

<style>
  .clip {
    clip-path: polygon(0 0, 75% 0, 100% 35%, 100% 100%, 0 100%, 0% 50%);
  }
</style>
